<div class="resource-container">
  <div class="button-container">
    <button mat-raised-button style="padding: 15px; background-color: #DD763D; color: white;" aria-label="button back to MyFarmView" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button style="padding: 15px; background-color: #7ec306; color: white;" routerLink="/criador/registro/recurso">
      Nuevo recurso
    </button>
  </div>

  <h1>Registro de nuevo recurso</h1>

  <div class="selector-resource">
    <p>Seleccione un tipo de recurso</p>
    <mat-radio-group [(ngModel)]="selectedResourceType" aria-label="Select an option" class="selector-resource-option">
      <mat-radio-button value="1">Todos</mat-radio-button>
      <mat-radio-button value="2">Alimento</mat-radio-button>
      <mat-radio-button value="3">Medicina</mat-radio-button>
      <mat-radio-button value="4">Cultivo</mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-button style="color: #ffffff" class="card-button" (click)="filterResource()">Filtrar</button>

  <!-- Iteration for -->
  <div class="card-container" *ngFor="let result of filteredResources">
    <mat-card class="mat-card">
      <div class="mat-card-content">
        <div class="title">
          <mat-card-title class="card-title">Recurso</mat-card-title>
          <div class="image">
            <img src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fresources2.webp?alt=media&token=ba82d265-83a4-4248-bae7-26a539050739" alt="Resource icon" class="card-image">
          </div>
        </div>
        <div class="math-card-content-column">
          <mat-card-subtitle class="card-subtitle">Nombre: {{ result.name }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">Tipo: {{ result.type }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">Fecha: {{ result.date }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">Cantidad: {{ result.quantity + " Kg" }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">Observaciones: {{ result.observations }}</mat-card-subtitle>
        </div>
        <mat-card-actions>
          <button mat-button type="button" class="edit-button" aria-label="This is an edit button" style="color: white; background-color: #7ec306;" (click)="editItem(result.id)">
            <mat-icon style="color: white;">edit</mat-icon>
            Edit
          </button>
          <button mat-button type="button" class="edit-button" aria-label="This is a delete button" style="color: white; background-color: #F44336;" (click)="deleteItem(result.id)">
            <mat-icon style="color: white;">delete</mat-icon>
            Delete
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <app-empty-view *ngIf="filteredResources.length === 0" [title]="'No hay ningún registro con esas características'"></app-empty-view>
</div>
