<div class="card-container">
  <!-- resource management card -->
  <mat-card class="mat-card">
    <div>
      <mat-card-header>
        <mat-card-title class="card-title">Gestión de recursos</mat-card-title>
        <mat-card-subtitle class="card-subtitle">¡Gestione los recursos de su granja aquí!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="card-actions">
        <button mat-button style="color: #ffffff" class="card-button" (click)="redirectToManagementResource()">Continuar</button>
      </mat-card-actions>
    </div>
    <div class="image">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fresources2.webp?alt=media&token=ba82d265-83a4-4248-bae7-26a539050739" alt="Management Resource">
    </div>
  </mat-card>

  <!-- expenses management card -->
  <mat-card class="mat-card">
    <div>
      <mat-card-header>
        <mat-card-title class="card-title">Gestión de Gastos</mat-card-title>
        <mat-card-subtitle class="card-subtitle">¡Gestione los gastos de su granja aquí!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="card-actions">
        <button mat-button style="color: #ffffff" class="card-button" (click)="redirectToExpensesResource()">Continuar</button>
      </mat-card-actions>
    </div>
    <div class="image">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fexpenses.png?alt=media&token=1f1e2234-78bc-4118-aeff-c99015bce58b" alt="Management Resource">
    </div>
  </mat-card>
</div>
