<main class="container">
  <span class="title-page"><strong>Horarios Disponibles</strong></span>
  <div class="card-container">
    <mat-card style="margin: 15px auto;" *ngFor="let result of results">
      <mat-card-content>
        <span class="card-description">Fecha: {{result.date}}</span>
        <h2 class="card-title">Horario: {{result.startTime}} - {{result.endTime}}</h2>
        <button mat-button color="warn" (click)="deleteDate(result.id)">Eliminar</button>
      </mat-card-content>
    </mat-card>
  </div>
  <app-empty-view *ngIf="results.length === 0" [title]="'No tienes horarios para mostrar.'"></app-empty-view>
  <button style="background-color: #dd763d; color: white; margin-top:10px;" mat-button class="button" routerLink="/asesor/horarios/agregar">Agregar</button>
</main>
