.main-container {
  display: grid;
  margin-top: 120px;
}
.title-page {
  color: #DD763D;
  font-size: 3em;
  text-align: center;
  line-height: 1;
  padding-bottom: 20px;
}
full-calendar {
  margin: 0 auto;
  max-width: 70%;
  max-height: 90%;

  color: black;
  font-weight: bold;
}
