<div class="card-container">
  <!-- resource management card -->
  <mat-card class="mat-card">
    <mat-card-header>
      <!-- Utiliza la propiedad 'title' para el título -->
      <mat-card-title class="card-title">{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fguinea-pig-not-found.png?alt=media&token=8006834d-9b88-4d02-9556-7f6be5cb4a59" alt="Descripción de la imagen">
    </mat-card-content>
  </mat-card>
</div>



