.animal{
  display: grid;
  font-family: Inter, sans-serif;
  grid-template-columns: 30% 70%;
  background-color: #DD763D;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.animal h2{
  color: white;
  font-size: 24px;
}

.animal p{
  color: white;
  font-size: 18px;
}

.animal img{
  width: 100px;
  margin: 0 auto;
}

.sick {
  background-color: #c16433;
}

.animal:hover{
  background-color: #e19669;
}
