<div class="container">
  <h1>Modificación de información</h1>
  <h2>de la Jaula {{cageID}}</h2>
  <div class="form">
    <form (submit)="onSubmit()" #cageForm = "ngForm" aria-label="formulario de modificación de datos de jaula">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="Número de jaula" name="cageID" [(ngModel)]="cage.id" disabled>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre de la jaula</mat-label>
        <input matInput placeholder="Nombre de la jaula" name="cageName" [(ngModel)]="cage.name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tamaño en m<sup>3</sup></mat-label>
        <input matInput type="number" placeholder="Tamaño" name="cageSize" [(ngModel)]="cage.size" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Observaciones</mat-label>
        <textarea matInput rows="5"
                  placeholder="Observaciones" name="cageObservations" [(ngModel)]="cage.observations">
    </textarea>
      </mat-form-field>
      <div class="buttons">
        <button class="back-button" mat-raised-button style="padding: 20px; background-color: #e19669; color: white;" type="button"  aria-label="descartar cambios"  mat-button (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Descartar
        </button>
        <button class="register-button" mat-raised-button aria-label="guardar cambios" type="submit" style="background-color: #7ec306; color: white;">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>
    </form>
  </div>
  <div class="image">
    <img src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fcuy-appointment.png?alt=media&token=96a10302-2750-4ef2-9212-c9ce3f16b2a2" alt="Imagen de un cuy con gafas">
  </div>
</div>




